<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Compose new micropost..." %>
	</div>

<!--******* for `characters left` section ***************-->
	<div style="height:45px">
		<div id="barbox">
			<div id="bar"> </div>
		</div>
		<div id="count"> characters left: 140</div>
	</div>
<!-- **************************************************** -->

	<%= f.submit "Post", class: "btn btn-large btn-primary" %>


<% end %>
